<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
  </head>
  <body style="width:100%; overflow-x:hidden; overflow-y:hidden;">
    <div class="dog">
      <div class="dog-body">
        <div class="dog-tail">
          <div class="dog-tail">
            <div class="dog-tail">
              <div class="dog-tail">
                <div class="dog-tail">
                  <div class="dog-tail">
                    <div class="dog-tail">
                      <div class="dog-tail"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dog-torso"></div>
      <div class="dog-head">
        <div class="dog-ears">
          <div class="dog-ear"></div>
          <div class="dog-ear"></div>
        </div>
        <div class="dog-eyes">
          <div class="dog-eye"></div>
          <div class="dog-eye"></div>
        </div>
        <div class="dog-muzzle">
          <div class="dog-tongue"></div>
        </div>
      </div>
    </div>
    <div class="ball" tabindex="0"></div>
    <div class="photobox">
      <div class="leftbox">
      <form method="post" action="{% url 'post:upload' %}" enctype="multipart/form-data">
      {% csrf_token %}
        <main class="container">
          <label class="label" id="label" for="input">
            <div class="inner" id="inner">이미지파일을 업로드해주세요</div> 
          </label>
          <input name='img' id="input" class="input" accept="image/*" type="file" required="true" multiple="true" hidden="true">
          <div class="wrapper">
            <button type="submit" class="button">Upload</button>
          </div>
      </form>
      </div>
      <div class="rightbox">
        {% if inference_img %}
        <div>
          <img style="width: 20rem; height: 20rem;" src="{{ inference_img }}" >
        </div>
        {% endif %}
        <div>
          내용
        </div>
      </div>
    </div>
    </main>
  </body>
</html>
